extends base.pug
include mixins/video.pug

block content 
  if errorMessage
    span=errorMessage
  else
    ul
      each item in videos 
        +video(item)
      else 
        li Sorry nothing found.