extends base.pug
include mixins/video.pug

block content
  if errorMessage
    span.home-error #{errorMessage}
  else
    ul.home
      each item in videos 
        +video(item)
      else 
        li.not-found Sorry nothing found