extends base.pug

block content 
  if errorMessage
    span=errorMessage
  form(method="POST").join-form
    label User name
      input(name="name", placeholder="Your Name" type='text', required)
    label Email
      input(name="email", placeholder="Email" type='email', required)
    label ID
      input(name="username", placeholder="ID" type='text', required)
    label Password
      input(name="password", placeholder="Password" type='password', required)
    label Confirm password
      input(name="password2", placeholder="Confirm Password" type='password', required)
    label Location
      input(name="location", placeholder="Location" type='text', required)
    button(type="submit")
      i.fa-solid.fa-user-plus
        span Sign up
  hr
  div.join--footer
    span Already have an account? 
    a(href="/login") Log in now &rarr;