extends base.pug
include mixins/video.pug

block content 
  form(method="GET").search-form
    input(placeholder="Search by Title", name="keyword" type="text")
    button(type="submit")
      i.fa-solid.fa-magnifying-glass

  each video in videos 
    +video(video)